node_modules
dist-ssr
*.local

# Environment variables
.env
.env.local
.env.production

# Database files (will be created on server)
*.db
*.db-shm
*.db-wal

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
